<div class="web-logs-filters-filter">
  <label for="userWebLogsFilters">Member ID</label>
  <input id="userWebLogsFilters" type="text" value="{{fields.user}}" on-keypress="search" />
</div>
<div class="web-logs-filters-filter">
  <label for="userNameWebLogsFilters">Member(s) name</label>
  <input id="userNameWebLogsFilters" type="text" placeholder="Splited by ;" value="{{fields.userName}}" on-keypress="search" />
</div>
<div class="web-logs-filters-filter">
  <label for="sessionWebLogsFilters">Session ID</label>
  <input id="Session" type="text" value="{{fields.session}}" on-keypress="search" />
</div>
