<div class="groups-group {{editMode ? 'edit' : ''}}">
  <rv-require name="pl-scrolls" src="/public/vendor/plumes/scrolls/pl-scrolls"></rv-require>

  <div class="pl-scrolls">

    <div class="header-bg" style="background-image: url('{{displayCover(group.coverLarge)}}');"></div>

    <header class="{{editConfirm}}">
      <div class="groups-group-edit-cover-upload {{changeCoverOpened ? 'opened' : ''}}">
        <div class="groups-group-edit-cover-upload-content">
          <form action="/upload" class="dropzone">
            <div class="dz-message">
              {{_('Drop a picture here or click to upload.')}}
            </div>
          </form>
        </div>
      </div>

      {{#if group.activeUserisLeader}}
        {{#if editMode}}
          <div class="groups-group-edit-cover" on-click="changeCover">
            <i class="fa fa-picture-o"></i>
          </div>
        {{/if}}

        <div class="groups-group-edit-bar-container">
          <div class="groups-group-edit-bar {{editMode ? '' : 'show'}}">
            <a href="{{url}}/edit">{{_('edit')}}</a>
          </div>
          <div class="groups-group-edit-bar {{editMode && !closeConfirm && !deleteConfirm ? 'show' : ''}}">
            <span class="groups-group-editing">{{_('editing')}}</span>
            <span on-click="saveGroup" class="save {{hasModifications ? 'can-save' : ''}} {{saving ? 'saving' : ''}}">
              {{_(saving ? 'saving' : (hasModifications ? 'save' : 'saved'))}}
            </span> |
            <span on-click="cancelEditGroup" class="close {{saving ? 'close-disabled' : ''}}">
              {{hasModifications ? _('cancel') : _('close')}}
            </span>
            {{#if mode == MODES.EDIT && !group.special}}
             |
            <span on-click="deleteGroup">{{_('delete')}}</span>
            {{/if}}
          </div>
          <div class="groups-group-edit-bar {{editMode && closeConfirm ? 'show' : ''}}">
            <span class="groups-group-editing">{{_('editing')}}</span>
            <span class="text-only">{{_('You will lose your unsaved work:')}}</span>
            <span class="confirm" on-click="cancelEditGroup" data-confirm="true">{{_('confirm')}}</span>
            |
            <span on-click="cancelAskCloseGroup">{{_('cancel')}}</span>
          </div>
          <div class="groups-group-edit-bar {{editMode && deleteConfirm ? 'show' : ''}}">
            <span class="groups-group-editing">{{_('editing')}}</span>
            <span class="text-only">{{_('This action cannot be undone:')}}</span>
            <span class="confirm" on-click="deleteGroup" data-confirm="true">{{_('confirm')}}</span>
            |
            <span on-click="cancelDeleteGroup">{{_('cancel')}}</span>
          </div>
        </div>
      {{/if}}

      <div class="row">
        {{#if editMode}}
          <div class="edit-name">
            <input type="text" value="{{group.name}}" placeholder="{{_('Name...')}}" />
          </div>
          <div class="edit-description">
            <input type="text" value="{{group.description}}" placeholder="{{_('Add a short but clear description for your group...')}}" />
          </div>
        {{else}}
          <h1><a href="{{url}}">{{group.name}}</a></h1>
          <p>{{group.description}}</p>
        {{/if}}
      </div>
    </header>

    <section class="groups-group-body">
      {{#if page == 'leaders'}}
        <h2>{{_('Leaders')}} <span>{{groupLeadersTotal}}</span></h2>

        <input class="groups-group-filter" type="text" placeholder="{{_('Find a leader...')}}" value="{{pageFilter}}" />

        <rv-require
          name="members-list"
          src="/public/members/members-list"

          data-type="groupleaders"
          data-template="card"
          data-bindparent-filter="pageFilterValue"
          data-bindparent-count="pageItemsCount"
          data-nomore="true"
          data-showmore="true"
          data-notransition="true"
          data-bindparent-groupid="group.id"
          data-bindchild-total="groupLeadersTotal"
          data-bindparent-canbecomemember="canBecomeMember"
          data-bindparent-canremove="canRemoveMember"
          data-on-click="memberClick"
          data-on-clickshowmore="showMore"
          data-on-becomemember="becomemember"
          data-on-remove="remove"
        ></rv-require>

      {{elseif page == 'members' || page == 'deactivated'}}
        <h2>{{_(page == 'members' ? 'Members' : 'Deactivated')}} <span>{{groupMembersTotal}}</span></h2>

        <input class="groups-group-filter" type="text" placeholder="{{_('Find a member...')}}" value="{{pageFilter}}" />

        <rv-require
          name="members-list"
          src="/public/members/members-list"

          data-type="groupmembers"
          data-template="card"
          data-bindparent-filter="pageFilterValue"
          data-bindparent-count="pageItemsCount"
          data-nomore="true"
          data-showmore="true"
          data-notransition="true"
          data-bindparent-groupid="group.id"
          data-bindchild-total="groupMembersTotal"
          data-bindparent-canremove="canRemoveMember"
          data-bindparent-canreactivate="canReactivateDeactivated"
          data-on-click="memberClick"
          data-on-clickshowmore="showMore"
          data-on-remove="remove"
          data-on-reactivate="reactivate"
        ></rv-require>

      {{elseif page == 'invitations'}}
        <h2>{{_('Invitations')}} <span>{{groupInvitationsTotal}}</span></h2>

        <input class="groups-group-filter" type="text" placeholder="{{_('Find an invitation...')}}" value="{{pageFilter}}" />

        <rv-require
          name="members-list"
          src="/public/members/members-list"

          data-type="groupinvitations"
          data-template="card"
          data-bindparent-filter="pageFilterValue"
          data-bindparent-count="pageItemsCount"
          data-nomore="true"
          data-showmore="true"
          data-notransition="true"
          data-bindparent-groupid="group.id"
          data-bindchild-total="groupInvitationsTotal"
          data-bindparent-cancancelinvitation="canCancelInvitation"
          data-on-click="memberClick"
          data-on-clickshowmore="showMore"
          data-on-cancelinvitation="cancelinvitation"
        ></rv-require>

      {{/if}}
    </section>

  </div>
</div>
