<div class="pl-section groups-details-tabs">
  {{#tabs}}
  <div
    class="tab-{{name}} {{tabSelected == name ? 'selected' : ''}}"
    title="{{_(title)}}"
    on-click="goToTab(name)"
  ><i class="{{icon}}"></i></div>
  {{/tabs}}
</div>

<div class="groups-details {{editMode ? 'edit' : ''}}">

  <rv-require name="pl-scrolls" src="/public/vendor/plumes/scrolls/pl-scrolls"></rv-require>

  <div class="pl-scrolls">

    <div class="groups-details-section {{!group ? 'opened' : ''}}">
      <section class="pl-section">
        <div class="groups-details-content groups-details-nothing">
          {{_('No group details.')}}
        </div>
      </section>
    </div>
    <div class="groups-details-section {{group ? 'opened' : ''}}">
      <section class="pl-section s-community">
        <h2 class="pl-title">{{_('Community')}}</h2>

        <div class="groups-details-section-body">
          {{#if mode == MODES.CREATE}}
            <h3>{{_('Leaders')}}</h3>
          {{elseif leadersTotal || group.activeUserCanInvitLeaders}}
            <h3>
              <a href="{{leadersUrl}}">{{_('Leaders')}}</a>
              <span class="count">{{leadersTotal}}</span>
              <a href="{{leadersUrl}}" class="groups-details-section-see-all">see all</a>
            </h3>
          {{/if}}

          <div class="groups-group-members">
            {{#if mode == MODES.CREATE}}
              <img class="groups-group-members-avatar" src="{{displayAvatar(user.avatarThumbSquare)}}" />
            {{else}}
              <rv-require
                name="members-list"
                src="/public/members/members-list"

                data-type="groupleaders"
                data-template="thumbnail"
                data-bindparent-moreurl="leadersUrl"
                data-count="10"
                data-notransition="true"
                data-bindparent-groupid="group.id"
                data-bindchild-total="leadersTotal"
                data-on-click="memberClick"
              ></rv-require>
            {{/if}}

            <div class="clear"></div>
          </div>

          <div class="clear"></div>

          {{#if group.activeUserCanInvitLeaders}}
            <rv-require
              name="pl-autocomplete"
              src="/public/vendor/plumes/autocomplete/pl-autocomplete"
              class="groups-group-invit-autocomplete-container"

              data-is="leader"
              data-listposition="bottom"
              data-autoselection="false"
              data-placeholder="{{_('Invite new leaders...')}}"
              data-cls="groups-group-invit-autocomplete"
              data-selectioncls="groups-group-invit-autocomplete-selection"
              data-inputcls="groups-group-invit-autocomplete-input"
              data-listcls="groups-group-invit-autocomplete-list"
              data-bind-focus="invitFocus"
              data-bind-change="invitChange"
              data-bind-select="invitSelect"
            ></rv-require>

            <div class="clear"></div>
          {{/if}}

          {{#if mode != MODES.CREATE}}

            {{#if membersTotal || group.activeUserCanInvitMembers}}
              <h3>
                <a href="{{membersUrl}}">{{_(group.special == 'deactivated' ? 'Deactivated' : 'Members')}}</a>
                <span class="count">{{membersTotal}}</span>
                <a href="{{membersUrl}}" class="groups-details-section-see-all">see all</a>
              </h3>
            {{/if}}

            <div class="groups-group-members {{membersTotal ? '' : 'hide'}}">
              <rv-require
                name="members-list"
                src="/public/members/members-list"

                data-type="groupmembers"
                data-template="thumbnail"
                data-bindparent-moreurl="membersUrl"
                data-count="10"
                data-notransition="true"
                data-bindparent-groupid="group.id"
                data-bindchild-total="membersTotal"
                data-on-click="memberClick"
              ></rv-require>

              <div class="clear"></div>
            </div>
          {{/if}}

          <div class="clear"></div>

          {{#if group.activeUserCanInvitMembers}}
            <rv-require
              name="pl-autocomplete"
              src="/public/vendor/plumes/autocomplete/pl-autocomplete"
              class="groups-group-invit-autocomplete-container"

              data-is="member"

              data-listposition="bottom"
              data-autoselection="false"
              data-placeholder="{{_(group.special == 'deactivated' ? 'Deactivate members...' : 'Invite new members...')}}"
              data-cls="groups-group-invit-autocomplete"
              data-selectioncls="groups-group-invit-autocomplete-selection"
              data-inputcls="groups-group-invit-autocomplete-input"
              data-listcls="groups-group-invit-autocomplete-list"
              data-bind-focus="invitFocus"
              data-bind-change="invitChange"
              data-bind-select="invitSelect"
            ></rv-require>

            <div class="clear"></div>
          {{/if}}

          {{#if mode != MODES.CREATE}}

            {{#if invitationsTotal}}
              <h3>
                <a href="{{invitationsUrl}}">Invitations</a>
                <a href="{{invitationsUrl}}" class="groups-details-section-see-all">see all</a>
              </h3>
            {{/if}}

            <div class="groups-group-members">
              <rv-require
                name="members-list"
                src="/public/members/members-list"

                data-type="groupinvitations"
                data-template="thumbnail"
                data-bindparent-moreurl="invitationsUrl"
                data-count="10"
                data-notransition="true"
                data-bindparent-groupid="group.id"
                data-bindchild-total="invitationsTotal"
                data-on-click="memberClick"
              ></rv-require>

              <div class="clear"></div>
            </div>
          {{/if}}

          <div class="clear"></div>
        </div>
      </section>
      <section class="pl-section s-permissions">
        <h2 class="pl-title">{{_('Permissions')}}</h2>

        {{#group.specialDescription}}
          <div class="special-description">{{_(group.specialDescription)}}</div>
        {{/group.specialDescription}}

        <div class="groups-details-section-body">
          <h4>{{_('Who can see this group')}}</h4>
          <div class="groups-details-permissions">
            {{#permissions.canSeeGroups}}
              <span class="
                groups-details-permission
                {{this.fixed ? 'fixed' : ''}}
                {{this.delete ? 'delete' : ''}}
                {{this.ownLeaders || this.ownMembers ? 'own' : ''}}
              ">
                {{this.ownLeaders ? _('Own leaders') : (this.ownMembers ? _('Own members') : this.name)}}
                <span class="groups-details-permission-remove" on-click="removePermissionGroup" title="{{_('Remove')}}">
                  <i class="groups-details-permission-cross"></i>
                </span>
              </span>
            {{/permissions.canSeeGroups}}
          </div>

          {{#if editMode}}
            <rv-require
              name="pl-autocomplete"
              src="/public/vendor/plumes/autocomplete/pl-autocomplete"

              data-keypath="permissions.canSeeGroups"

              data-placeholder="{{_('Search for a group...')}}"
              data-cls="groups-details-permissions-autocomplete"
              data-selectioncls="groups-details-permissions-autocomplete-selection"
              data-inputcls="groups-details-permissions-autocomplete-input"
              data-listcls="groups-details-permissions-autocomplete-list"
              data-bind-focus="newGroupFocus"
              data-bind-blur="newGroupBlur"
              data-bind-change="newGroupChange"
              data-bind-select="newGroupSelect"
            ></rv-require>
          {{/if}}

          <h4>{{_('Who can see the leaders')}}</h4>
          <div class="groups-details-permissions">
            {{#permissions.canSeeLeadersGroups}}
              <span class="
                groups-details-permission
                {{this.fixed ? 'fixed' : ''}}
                {{this.delete ? 'delete' : ''}}
                {{this.ownLeaders || this.ownMembers ? 'own' : ''}}
              ">
                {{this.ownLeaders ? _('Own leaders') : (this.ownMembers ? _('Own members') : this.name)}}
                <span class="groups-details-permission-remove" on-click="removePermissionGroup" title="{{_('Remove')}}">
                  <i class="groups-details-permission-cross"></i>
                </span>
              </span>
            {{/permissions.canSeeLeadersGroups}}
          </div>

          {{#if editMode}}
            <rv-require
              name="pl-autocomplete"
              src="/public/vendor/plumes/autocomplete/pl-autocomplete"

              data-keypath="permissions.canSeeLeadersGroups"

              data-placeholder="{{_('Search for a group...')}}"
              data-cls="groups-details-permissions-autocomplete"
              data-selectioncls="groups-details-permissions-autocomplete-selection"
              data-inputcls="groups-details-permissions-autocomplete-input"
              data-listcls="groups-details-permissions-autocomplete-list"
              data-bind-focus="newGroupFocus"
              data-bind-blur="newGroupBlur"
              data-bind-change="newGroupChange"
              data-bind-select="newGroupSelect"
            ></rv-require>
          {{/if}}

          <h4>{{_('Who can see the members')}}</h4>
          <div class="groups-details-permissions">
            {{#permissions.canSeeMembersGroups}}
              <span class="
                groups-details-permission
                {{this.fixed ? 'fixed' : ''}}
                {{this.delete ? 'delete' : ''}}
                {{this.ownLeaders || this.ownMembers ? 'own' : ''}}
              ">
                {{this.ownLeaders ? _('Own leaders') : (this.ownMembers ? _('Own members') : this.name)}}
                <span class="groups-details-permission-remove" on-click="removePermissionGroup" title="{{_('Remove')}}">
                  <i class="groups-details-permission-cross"></i>
                </span>
              </span>
            {{/permissions.canSeeMembersGroups}}
          </div>

          {{#if editMode}}
            <rv-require
              name="pl-autocomplete"
              src="/public/vendor/plumes/autocomplete/pl-autocomplete"

              data-keypath="permissions.canSeeMembersGroups"

              data-placeholder="{{_('Search for a group...')}}"
              data-cls="groups-details-permissions-autocomplete"
              data-selectioncls="groups-details-permissions-autocomplete-selection"
              data-inputcls="groups-details-permissions-autocomplete-input"
              data-listcls="groups-details-permissions-autocomplete-list"
              data-bind-focus="newGroupFocus"
              data-bind-blur="newGroupBlur"
              data-bind-change="newGroupChange"
              data-bind-select="newGroupSelect"
            ></rv-require>
          {{/if}}

          <h4>{{_('Special permissions')}}</h4>
          {{#if editMode}}
          <p class="groups-details-permissions-checks-tip">{{_('Click to select/unselect permissions:')}}</p>
          {{/if}}
          <div class="groups-details-permissions groups-details-permissions-checks">
            {{#if !editMode && !permissions.hasPublicSelected}}
              <span class="groups-details-permission-none">{{_('None.')}}</span>
            {{/if}}
            {{#permissions.publicPermissions}}
              {{#if this.selected || editMode}}
                <span
                  class="groups-details-permission {{this.selected ? 'selected' : ''}}"
                  title="{{this.description}}"
                  on-click="togglePublicPermission"
                >
                  {{this.title}}
                </span>
              {{/if}}
            {{/permissions.publicPermissions}}
          </div>
        </div>

      </section>
    </div>
  </div>
</div>
