<a
  class="
    groups-group-item
    {{template ? 'groups-group-item-' + template : ''}}
    {{(notransition && notransition == 'true') || show ? 'show' : ''}}
    {{selected ? 'selected' : ''}}
    {{cls ? cls : ''}}
  "
  style="background-image: url('{{displayCover(group.coverThumb)}}');"
  href="/groups/{{group.url}}"
  on-click="click"
>
  <h3>{{{group.name}}}</h3>

  {{#if memberid && group.leadersIds && group.leadersIds.length && group.leadersIds.indexOf(memberid) > -1}}
    <span class="groups-group-item-leader">{{_('as leader')}}</span>
  {{/if}}

  <span class="groups-group-item-count">
    {{#if group.membersLength > 0}}
      {{group.membersLength + group.leadersLength}}
      {{_(group.membersLength + group.leadersLength > 1 ? 'members' : 'member')}}
    {{elseif group.leadersLength > 0}}
      {{group.leadersLength}} {{_(group.leadersLength > 1 ? 'leaders' : 'leader')}}
    {{/if}}
  </span>

  {{> groups-group-item-extend}}
</a>
